.login-form
{
	border:2px solid;
	border-color: #B0C4C7;
	border-radius: 4px;
	box-shadow: 5px 5px 5px #B0C4C7;
	background-color: #ffffff;
}
#login{
	background-color: #ffffff;
}
.lognav{
	background-color: #f5f5f5;
}
.form-horizontal{
	padding: 40px 40px;
}
#connectwith{
	font-family: monospace;
	text-align: center;
}
.btn-fb:hover, .btn-fb:focus, .btn-fb:active, .btn-fb.active{
color: #fff;
background-color: #002e93;
border-color: #002e93;
}
.btn-fb{
	background-color: #002ea3;
}